<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.mappers.board">

	<!-- 게시물 목록 -->
	<select id="select" resultType="com.site.domain.BoardVO">
		select
			bid, title, content, writer, createTime
		from tbl_board
		order by bid desc
		limit 10
	</select>

	<!-- 게시물 목록 -->
	<select id="selectOne" parameterType="int" resultType="com.site.domain.BoardVO">
		select
			bid, title, content, writer, createTime
		from tbl_board
		where 1=1
		and bid = #{bid}
	</select>

	<!-- 게시물 수정 -->
	<update id="modify" parameterType="com.site.domain.BoardVO">
		update tbl_board set
			title = #{title},
			writer = #{writer},
			content = #{content}
		where 1=1
		and bid = #{bid}
	</update>
	
	<!-- 게시물 작성 -->
	<insert id="write" parameterType="com.site.domain.BoardVO">
		insert into tbl_board (
			title,
			writer,
			content
		)value (
			#{title},
			#{writer},
			#{content}
		)
	</insert>
	
	<!-- 게시물 삭제 -->
	<insert id="delete" parameterType="int">
		delete from tbl_board
		where 1=1
		and bid = #{bid}
	</insert>

</mapper>