@charset "UTF-8";

/* 메인메뉴 호버 CSS */
@media screen and (min-width: 768px) {
	
	.dropdown-hover:hover .dropdown-hover-content {
		margin-top: 0px;
		display: block;
	}
	
	.dropdown-hover:not(:hover) .dropdown-hover-content {
		display: none;
	}
}

/* 기본 폰트 및 스타일 */
.fs-14px {
	font-size: 14px;
}
.fs-13px {
	font-size: 13px;
}
.fs-12px {
	font-size: 12px;
}
.fs-11px {
	font-size: 11px;
}
.fs-10px {
	font-size: 10px;
}
.fs-9px {
	font-size: 9px;
}

/* Border color */
.border-gray {
	border-color: rgb(210, 210, 210)!important;
}

/* 네비바 */
.jtr-nav {
	font-size: 12px;
}
.jtr-nav-link {
	display: block;
    padding: .25rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

/* 버튼 스타일 */
.jtr-btn-xs {
	padding: .14rem .35rem;
	font-size: .775rem;
	border-radius: .2rem;
}