<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.mappers.isu">

	<!-- 게시물 목록 -->
	<select id="selectTest" resultType="string">
		select top 1 a.person_code
		from org_person a
		where 1=1
		and a.display_name = '김선재'
	</select>

</mapper>